<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>{% block title %}Spirit | Login{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for("static", filename = "image/Spirit.png") }}" type="image/x-icon">
    <link href="{{ url_for("static", filename = "bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    {% block head %}
    	<link href="{{ url_for("static", filename = "css/login.css") }}" rel="stylesheet">
        <script src="{{ url_for("static", filename = "bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    {% endblock %}
</head>

<body>
{% block nav %}
<div class="container-fluid image-logo">
  <div class="row">
    <div class="col image-logo">
      <a href="/"><img src="/static/image/A_vector_graphic_logo_design_features_a_ghost_icon.png" alt="Spirit" class="img-fluid" style="max-height: 65px;"></a>
      <span id="todo">Todo</span>
    </div>
    <div class="col right">
      <div class="right_element">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
        </svg>
        <div class="divider"></div>
        <a href="{{ url_for("spirit.register") }}" style="text-decoration: none"><span class="register_login"><b>Sign Up</b></span></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
<div class="container" style="margin-top: 7%;">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 login_form">
      <h3 class="row justify-content-center login_title">Login</h3>
      <div class="container-fluid input_form">
        <form class="row justify-content-center p-5 pb-2" method="POST">
          <label class="login_input">Account: </label>
          <label><input type="email" class="mb-1 form-control" name="email" placeholder="Email address"></label>
          <label class="login_input">Password: </label>
          <label><input type="password" class="form-control" name="password" style="margin-bottom: 20px" placeholder="Password"></label><br><br>
          <button type="submit" class="login_btn btn btn-secondary">Sign In</button>
          <button type="reset" class="reset_btn btn mb-5 btn-secondary">Reset</button>
          <label class="row mb-1 justify-content-center ls_prompt">Don't have an account yet? <a class="row justify-content-center" href="{{ url_for("spirit.register") }}" style="color: #0a7a96; text-decoration: none">Sign Up!</a></label>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

</body>
</html>