{% extends "login.html" %}

{% block title %}Spirit | register{% endblock %}

{% block head %}
    <link href="{{ url_for("static", filename = "css/register.css") }}" rel="stylesheet">
    <script src="{{ url_for("static", filename = "jquery/jquery-3.7.1.js") }}"></script>
    <script src="{{ url_for("static", filename= "script/register.js") }}"></script>
{% endblock %}

{% block nav %}
<div class="container-fluid image-logo">
  <div class="row" >
    <div class="col image-logo">
      <a href="/"><img src="/static/image/A_vector_graphic_logo_design_features_a_ghost_icon.png" alt="Spirit" class="img-fluid" style="max-height: 65px;"></a>
      <label id="todo">Todo</label>
    </div>
    <div class="col right">
      <div class="right_element">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"></path>
        </svg>
        <div class="divider"></div>
        <a href="{{ url_for("spirit.login") }}" style="text-decoration: none"><label class="register_login"><b>Sign In</b></label></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
{% endwith %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 login_form">
      <h3 class="row justify-content-center login_title">Register</h3>
      <div class="container-fluid input_form">
        <form class="row justify-content-center p-5 pb-1" method="POST">
          <label class="login_input">E-mail: </label>
          <label><input type="email" class="form-control" name="email" id="email_enter" placeholder="Enter your email address"></label><br>
          <label class="login_input">Captcha: </label>
          <div class="d-flex align-items-center gap-2">
            <input type="text" class="form-control" name="captcha" placeholder="6 characters" style="flex: 1;">
            <button class="login_btn btn btn-secondary" id="send_captcha">Send</button>
          </div>
          <label class="login_input">Name: </label>
          <label><input type="text" class="form-control" name="username" placeholder="2~18 characters"></label>
          <label class="login_input">Create Password: </label>
          <label><input type="password" class="mb-1 form-control" name="password" placeholder="8+ characters"></label>
          <label class="login_input">Enter Password Again: </label>
          <label><input type="password" class="mb-5 form-control" name="password_confirm" placeholder="8+ characters"></label>
          <button type="submit" class="mb-4 login_btn btn btn-secondary signup" onclick="">Sign Up</button>
          <label class="row mb-1 justify-content-center ls_prompt">Already have an account, <a class="row justify-content-center" href="{{ url_for("spirit.login") }}" style="color: #0a7a96; text-decoration: none">Sign In!</a></label>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}